{% extends 'base.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}

<section class="section_conteudo">

    <div class="sobre">

    <h2 class="titulo_sobre">Sobre</h2>

    <p>Este site tem como objetivo uma melhor interação entre alunos e professores estimulando a retirada de de dúvidas, 
    pois muitas vezes o aluno não tem tempo de ir ao horário de atendimento ou até mesmo vergonha de tirar dúvidas 
    durante a aula, através deste site esses problemas serão solucionados.</p>

    <br/><br/><br/><br/><br/>

    </div>

</section>

{% endblock conteudo %}
